<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= filename %></title>
    <link rel="stylesheet" href="/editstyle.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- Header and Navigation Container -->
    <div class="header-nav-container">
        <div class="header">HisabKitab</div>
        
        <!-- Navigation Links -->
        <div class="nav">
            <a href="/">Home</a>
            <a href="createhisab">Create New Hisab</a>
        </div>
    </div>

    <!-- Edit File Form -->
    <div class="edit-file-container">
        <h2>Editing File: <%= filename %></h2>
        <br>
        <h3>Last Edited: <%= lastEdit%></h3>
        <form action="/edit/<%= filename %>" method="POST">
            <textarea name="thecontent" rows="10" cols="50"><%= content %></textarea><br>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>
